target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Glyphs
LOGS/*
oldlib/*

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
LISTING.pdf
*.sc
*.class
SkijaLib.zip
FreeGlyph
*.aux
*.fls
*.log
*.gz
*.tex~
SAVED/EtcPage.png
SAVED/FramePage.png
SAVED/NotebookPage.png
README.html
out/artifacts/Glyph/Glyph.jar
